# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database & DLLs
*.fdb
fbclient.dll
gds32.dll

# Output
output/
*.xlsx

# Logs
logs/

# User preferences
user_preferences.json
code/
.idea/

# IDEs
.vscode/
